
/* body font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


@tailwind 'tailwindcss/base';
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

/* This gives us access to all of the different weights of Nunito */
@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  }

